<html>
<head>
    <title>Vovan</title>
    <link href="/static/mainStyle.css" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <div id="Header">
        <h1>CV Data Volodymyr Pastukh</h1>
    </div>
    <div id="content">
        <div id="nav">
            <h3>Navigation</h3>
            <ul>
                <li><a class="selected" href="main">Main</a></li>
                <li><a class="selected" href="complexes">Complex Projects</a></li>
                <li><a class="selected" href="projects">Projects</a></li>
                <li><a class="selected" href="technologies">Technologies</a></li>
                <li><a class="selected" href="https://github.com/VolodymyrPastukh">GitHub</a></li>
            </ul>
        </div>
        <div id="main">
            <h2> Complexes </h2>
            <ul>
                {{#complexes}}
                    <li><a class="selected" href="complexes/{{title}}"><h3>{{title}}</h3></a></li>
                    <details>
                        <summary>Details</summary>
                        <h6><a class="selected" href="{{gitLink}}"><h3>{{gitLink}}</h3></a></h6>
                        <h6>{{type}}</h6>
                    </details>
                {{/complexes}}
            </ul>
        </div>
    </div>
    <div id="footer">
        Copyright &copy; 2021 Voldemar
    </div>
</div>
</body>
</html>
